<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="UnilifeClassesRoomsDiplomServerDLL.UnilifeClassesRoomsDiplomServerDDL">
                <endpoint address="" binding="basicHttpBinding" contract="UnilifeClassesRoomsDiplomServerDLL.IUnilifeClassesRoomsDiplomServerDDL">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/UnilifeClassesRoomsDiplomServerDLL/UnilifeClassesRoomsDiplomServerDDL/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
<connectionStrings><add name="UnilifeDB" connectionString="data source=DESKTOP-T7RVJQ8;initial catalog=Diplom;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>
